body {
    background-color: blue;
    color: red;
}

button, input, select, textarea  {
    border-radius: 7px;
    color: red;
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


